.board {
}

.tile {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block;
}

.p1 {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	background-color: blue;
	display: inline-block;
}

.p2 {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	background-color: green;
	display: inline-block;
}